<h2>Cadastro de localidades</h2>

  <table>
    <thead>
      <tr>
        <th>Nome</th>
      </tr>
    </thead>
    <tbody>
      <% @locales.each do |locale| %>
        <tr>
          <td><%= locale.city %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
