<h2>Cadastro de localidades</h2>

  <table>
    <thead>
      <tr>Nome</tr>
    </thead>
    <tbody>
      <% if !@locales.blank? %>
        <% @locales.each do |locale| %>
          <tr>
            <td><%= locale.city %></td>
          </tr>
        <% end %>
      <% else %>
        Nenhum registro encontrado!
      <% end %>
    </tbody>
  </table>